*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Rubik;
  overflow-x: hidden;
  background: #f4f9ffb9;
}

#pokeball-img {
  position: fixed;
  height: 900px;
  right: 1500px;
  top: -238px;
}

.nav {
  margin-top: 4rem;
  align-items: center;
}

.search-pokemon {
  display: flex;
  width: 1160px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 26px;
  border: none;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

#card-container {
  max-width: 85vw;
  margin: 50px 0px 100px 0px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
}

.pokemon-card {
  background: #ffff;
  margin: 20px 10px 50px 10px;
  width: 270px;
  height: 160px;
  box-shadow: 0px 8px 8px rgba(222, 222, 222, 0.808);
  border-radius: 26px;
}

.pokemon-card {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokemon-card:hover {
  animation-duration: 0.1s;
  border: 2px solid rgba(204, 204, 204, 0.5);
}

.pokemon-card p {
  font-size: 0.9rem;
  font-weight: 800;
  margin-top: 20px;
  color: #414141c4;
}

.pokemon-card img {
  image-rendering: pixelated;
  animation-duration: 0.7s;
  margin-bottom: 160px;
  height: 100px;
  position: absolute;
}

@keyframes zoom {
  to {
    height: 120px;
  }
  from {
    height: 100px;
  }
}

.pokemon-card:hover img {
  animation-name: zoom;
  animation-duration: 0.1s;
  animation-fill-mode: both;
}

.pokemon-card h4 {
  font-size: 1.4rem;
  margin-top: 5px;
}

.type {
  display: flex;
}

.type p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px 5px 0px 5px;
  height: 30px;
  width: 60px;
  color: rgb(0, 0, 0);
}

.aside {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  visibility: hidden;
  bottom: 0px;
  top: 100px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.aside-info {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-info img {
  image-rendering: pixelated;
  height: 22vh;
  margin-top: -80px;
}

.aside-info #pokemon-id {
  margin-top: 20px;
  font-weight: 800;
  color: #858585;
  font-size: 0.9rem;
}

.aside-info #pokemon-name {
  margin-top: 5px;
}

.aside-info .type {
  margin-top: 5px;
}

.aside-info .type p {
  width: 80px;
  color: #000000;
}

.aside-info #pokedex-entry {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 700;
}

.aside-info #pokemon-entry {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #858585;
  text-align: center;
  max-width: 500px;
}

.aside-info .height-and-Weight {
  display: flex;
  margin: 20px 0px 20px 0px;
}

.Height, .weight {
  margin: 5px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.Height p, .weight p {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #92929232;
  border-radius: 10px;
  font-size: 1rem;
  height: 30px;
  width: 250px;
}

.aside-info .abilities {
  display: flex;
  margin-top: 5px ;
}

.aside-info .abilities p {
  margin: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #92929232;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 30px;
  width: 250px;
}

.aside-info .stats p {
  font-size: 0.9rem;
  text-align: center;
  margin-right: 15px;
  width: 40px;
  height: 60px;
  background:  #92929232;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

.stat {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(156, 156, 156, 0.719);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#hp-stat {
  background: rgba(255, 0, 0, 0.904);
}

#atk-stat {
  background: rgb(255, 123, 0);
}

#def-stat {
  background: rgb(73, 255, 1);
}

#spa-stat {
  background: rgb(212, 95, 0);
}

#spd-stat {
  background: rgb(54, 192, 0);
}

#tot-stat {
  background: rgba(0, 47, 255, 0.719);
}

#close-icon img{
  cursor: pointer;
  height: 30px;
}

#close-icon {
  margin: 30px;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
}

.aside-info .stats {
  justify-content: center;
  display: flex;
}

.aside-info .stats-title h4 {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

@keyframes aside {
  from {
    margin-top: 1050px;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.active {
  visibility: visible;
  animation-duration: 0.3s;
  animation-name: aside;
}


@media screen and (max-width: 1364px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 53rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 53rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
}

@media screen and (max-width: 1203px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 40rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 40rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
  
}

@media screen and (max-width: 1023px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 32rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 32rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
  
  
}

@media screen and (max-width: 528px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 27rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 27rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
  
  
}

@media screen and (max-width: 474px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 23rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 23rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
  
  
}

@media screen and (max-width: 375px) {
  .nav {
    margin-top: 2rem;
    align-items: center;
  }
  
  .search-nav {
    width: 20rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  
  .search-pokemon {
    width: 20rem;
    height: 80px;
    background: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }

}
